body{
    background-color: #a19acb;
}
.URL{
    width:40rem;
    height: 19rem;
    border-radius: 20px;
    box-shadow: 0px 0px 3px #5f5f5f,0px 0px 0px 5px #ecf0f3,8px 8px 15px #a7aaa7,-8px -8px 15px #fff;
    box-shadow: 13px 13px 20px #cac7c7,-13px -13px 20px #cac7c7;
    background: rgb(255, 255, 255);
    /* backdrop-filter: blur(3px); */
    box-sizing: 0 25px 25px rgba(0, 0, 0, 0.9);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.cent{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-items: center;
    align-content: center;
    margin-top: 9rem;
}

.ana{
    text-decoration: none;
}

.trans{
    background:transparent;
}